name: veta_app
description: A veterinary platform marketplace mobile app.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  font_awesome_flutter: ^10.7.0
  image_picker: ^1.1.2
  image_picker_for_web: ^3.0.6
  uuid: ^4.3.3
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
    - family: Questrial
      fonts:
        - asset: assets/fonts/Questrial-Regular.ttf
          weight: 500

  assets:
    - assets/images/background/bg1.png