name: auth_firebase
description: "A new Flutter project."
publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'


dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.2
  firebase_core: ^2.26.0
  firebase_auth: ^4.17.7
  google_sign_in: ^6.2.1
  google_fonts: ^6.2.0
  image_picker: ^1.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter

 
  flutter_lints: ^2.0.0


flutter:

  uses-material-design: true
