<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596091829422-6f29ptuilhpjfevforf4je12aubte398.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596091829422-6f29ptuilhpjfevforf4je12aubte398</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>596091829422-4oc8qvlue2keh04qbdiotsts65s9u3fl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY-eSbYyuS19f9Vi3hDOoA5LGb77m7gNM</string>
	<key>GCM_SENDER_ID</key>
	<string>596091829422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginSignup</string>
	<key>PROJECT_ID</key>
	<string>veta-login</string>
	<key>STORAGE_BUCKET</key>
	<string>veta-login.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596091829422:ios:9014bdfdbb8243f4bb013f</string>
</dict>
</plist>